body {
  margin-top: 50;
}

a {
  color: rgb(39%, 42%, 49%);
  font-weight: 600;
}

.container {
  padding: 40px 40px 0px 40px;
  max-width: 900px;
}

.small-text {
  font-size: 10px;
}

.sun-icon {
  color: rgb(255, 145, 0);
}

.storm-icon {
  color: rgb(7, 7, 209);
}

.rain-icon {
  color: rgb(78, 78, 128);
}

.current-city {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.weather-description,
.current-day,
.weather-main {
  font-size: 15px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  text-align: left;
}

.current-weather {
  font-size: 50px;
  display: block;
  margin: 0;
}

.icons {
  font-size: 32px;
}

.units {
  color: #202124;
  font-size: 12px;
  line-height: 50px;
  margin-top: 6px;
  vertical-align: top;
}

.search {
  background: rgb(247, 235, 244);
  color: rgb(39%, 42%, 49%);
  border: 2px solid rgb(191, 117, 204);
  border-radius: 7px;
  transition: all 200ms ease;
}
.search:hover {
  background: rgb(191, 117, 204);
  color: rgb(247, 235, 244);
}

.city {
  border: 2px solid rgb(191, 117, 204);
  border-radius: 7px;
  padding-right: 100px;
  padding-left: 10px;
}

.geo-location {
  border: 0px;
  background: transparent;
  padding-left: 0px;
  text-decoration: underline;
}

.weekly {
  padding-top: 20px;
}

.link-git {
  display: block;
  margin: 0 auto;
  padding: 0px 150px 0px 150px;
  max-width: 900px;
}
