body {
  margin-top: 50;
  color: rgb(49, 1, 78);
}

.link-git a {
  color: rgb(39%, 42%, 49%);
  font-weight: 600;
}

.container {
  padding: 40px 40px 0px 40px;
  max-width: 900px;
}

p .small-text {
  font-size: 10px;
}

.current-city {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.weather-description,
.current-day,
.weather-main {
  font-size: 15px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  text-align: left;
}

.current-weather {
  font-size: 50px;
  display: block;
  margin: 0;
}

.current-weather .units {
  font-size: 12px;
  line-height: 50px;
  margin-top: 6px;
  vertical-align: top;
  text-decoration: none;
}
.current-weather .active {
  color: rgb(49, 1, 78);
  cursor: default;
  text-decoration: none;
}
.current-weather .active:hover {
  text-decoration: none;
}

form .search {
  background: rgb(247, 235, 244);
  color: rgb(39%, 42%, 49%);
  border: 2px solid rgb(191, 117, 204);
  border-radius: 7px;
  transition: all 200ms ease;
}
.search:hover {
  background: rgb(191, 117, 204);
  color: rgb(247, 235, 244);
}

.city {
  border: 2px solid rgb(191, 117, 204);
  border-radius: 7px;
  padding-right: 100px;
  padding-left: 10px;
}

.geo-location {
  border: 0px;
  background: transparent;
  padding-left: 0px;
  text-decoration: underline;
}

.weekly {
  padding-top: 20px;
}

.link-git {
  display: block;
  margin: 0 auto;
  padding: 0px 150px 0px 150px;
  max-width: 900px;
}
